<ul class="nav-list">
  <li class="nav-list__item" (click)="switchTab('messages')" [ngClass]="{active: activeTab === 'messages'}"><i class="material-icons">sms</i></li>
  <li class="nav-list__item" (click)="switchTab('contacts')" [ngClass]="{active: activeTab === 'contacts'}"><i class="material-icons" [style.font-size]="'28px'">person</i></li>
  <li class="nav-list__item" (click)="switchTab('search')" [ngClass]="{active: activeTab === 'search'}"><i class="material-icons">search</i></li>
</ul>
