:host {
  display: block;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.nav-list__item+.nav-list__item {
  border-left: 1px solid #dbdbdb;
}

.nav-list__item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background: #e6e7e8;
  color: #939496;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.nav-list__item.active {
  cursor: default;
  color: #fff;
  background: #5dc3b5;
}
