:host {
  position: relative;
  display: block;
  padding: 10px;
  background: #f8f8f8;
  border: 1px solid #eee;
}

.search-box {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  outline: none;
  font-size: 1rem;
}
