<section class="chat-box" *ngIf="chatBoxData?.chatBox">
  <header class="chat-box__header">
    <button class="chat-box__back-btn">
      <i class="material-icons" (click)="backClick()">arrow_back</i>
    </button>
    <img class="chat-box__avatar" [src]="chatBoxData?.contact?.picture || 'http://via.placeholder.com/50x50'">
    <h5 class="chat-box__head">Chat with {{chatBoxData?.contact?.name}}</h5>
    <button class="chat-box__settings-btn">
      <i class="material-icons">settings</i>
    </button>
  </header>
  <div class="chat-box__body">
    <ul class="chat-box__messages" *ngIf="chatBoxData?.contact?.lastMessage">
      <li class="chat-box__message" *ngFor="let chatMessage of chatBoxData?.chatHistory" [ngClass]="{'mine': chatMessage?.byMe}">
        {{chatMessage.message}}
        <time>{{chatMessage.time | date: 'shortTime'}}</time>
      </li>
    </ul>
  </div>
  <footer class="chat-box__footer">
    <label class="chat-box__attach-file" [ngClass]="{'file-loaded': fileLoaded}">
      <input type="file" (change)="fileChanged($event)">
      <i class="material-icons" [style.font-size]="'2rem'">attach_file</i>
    </label>
    <textarea class="chat-box__message-sender" [(ngModel)]="message" (keyup.enter)="send()" placeholder="Type your message" autofocus></textarea>
    <button class="chat-box__send-btn" (click)="send()" [ngClass]="{unclickable: !message}">
      send
    </button>
  </footer>
</section>

<section class="chat-box chat-box--empty" *ngIf="!chatBoxData?.chatBox">
  <h1>
    Chat Bot
  </h1>
</section>
