:host {
  width: 100%;
}

.chat-box {
  height: 100%;
  background: #eee;
  position: relative;
}

.chat-box--empty {
  display: table;
  width: 100%;
}

.chat-box--empty h1 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: #5dc3b5;
  font-weight: 100;
}


/* Header */

.chat-box__header {
  margin: 0 0 3px 0;
  padding: 9px 15px;
  box-shadow: 0 1px 0 #d8d8d8;
  background: #fff;
}

.chat-box__head {
  display: inline-block;
  color: #8e8e8e;
  margin: 0;
  text-transform: uppercase;
  max-width: 50%;
  vertical-align: middle;
}

.chat-box__avatar {
  border-radius: 50%;
  width: 30px;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.chat-box__back-btn {
  float: left;
  margin: 2px 10px 2px 0;
  cursor: pointer;
  border: none;
  background: transparent;
  outline: none;
}

@media (min-width: 620px) {
  .chat-box__back-btn {
    display: none;
  }
}

.chat-box__settings-btn {
  float: right;
  background: transparent;
  border: none;
  color: #939496;
  outline: none;
  cursor: pointer;
}


/* Body */

.chat-box__body {
  max-height: calc(100vh - 120px);
  overflow: auto;
  max-width: 860px;
  width: 95%;
  margin: 0 auto;
}

.chat-box__messages {
  list-style: none;
  padding: 0;
  margin: 15px;
}

.chat-box__message {
  margin-top: 4px;
  padding: 10px 60px 10px 10px;
  clear: both;
  border-radius: 4px;
  position: relative;
  font-size: 0.9rem;
  box-shadow: 0 1px 1px #d4d4d4;
  line-height: 1.8;
}

.chat-box__message.mine+.chat-box__message:not(.mine),
.chat-box__message:not(.mine)+.chat-box__message.mine {
  margin-top: 10px;
}

.chat-box__message:not(.mine)+.chat-box__message.mine {
  border-top-left-radius: 0;
}

.chat-box__message.mine+.chat-box__message:not(.mine):after,
.chat-box__message:not(.mine)+.chat-box__message.mine:after,
.chat-box__message:not(.mine):first-child:after,
.chat-box__message.mine:first-child:after {
  content: "";
  position: absolute;
  top: 0;
  height: 0;
  width: 0;
  border-style: solid;
}

.chat-box__message.mine+.chat-box__message:not(.mine):after,
.chat-box__message:not(.mine):first-child:after {
  right: -10px;
  border-width: 10px 0 30px 25px;
  border-color: transparent transparent transparent #5DC3B5;
}

.chat-box__message:not(.mine)+.chat-box__message.mine:after,
.chat-box__message.mine:first-child:after {
  left: 0px;
  border-width: 0px 15px 8px 0;
  border-color: transparent transparent #fff transparent;
  top: -8px;
}

.chat-box__message.mine {
  float: left;
  background: #fff;
  margin-right: 4rem;
}

.chat-box__message:not(.mine) {
  float: right;
  background: #5dc3b5;
  color: #fff;
  max-width: 90%;
  margin-left: 4rem;
}

.chat-box__messages:after {
  content: "";
  display: table;
  clear: both;
}

time {
  color: #7a7a7a;
  font-size: 0.7rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.chat-box__message:not(.mine) time {
  left: -4rem;
}

.chat-box__message.mine time {
  right: -4rem;
}


/* Footer */

.chat-box__footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 15px;
  background: #e6e7e8;
}

.chat-box__message-sender,
.chat-box__send-btn {
  outline: none;
  border-radius: 3px;
}

.chat-box__message-sender {
  padding: 0 20px;
  border: 1px solid #ddd;
  margin-right: 10px;
  vertical-align: middle;
  flex: 8;
  height: 40px;
  overflow: hidden;
  line-height: 35px;
  resize: none;
}

.chat-box__send-btn {
  background: #5dc3b5;
  border: 1px solid #eee;
  color: #fff;
  flex: 1;
  font-size: 1rem;
  cursor: pointer;
  max-width: 80px;
  text-transform: capitalize;
}

.chat-box__send-btn.unclickable {
  pointer-events: none;
  background: #939496;
}

.chat-box__attach-file.file-loaded {
  color: #5DC3B5;
}

.chat-box__attach-file {
  background: transparent;
  border: 0;
  outline: none;
  color: #939496;
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.chat-box__attach-file input {
  display: none;
}
