<div class="main-actions">
  <app-tabs (navUpdated)="handleNavUpdate($event)"></app-tabs>
  <app-contacts-list [(currentTab)]="currentTab" (openChatBox)="handleOpenChatBox($event)"></app-contacts-list>
</div>
<app-chat-box [chatBoxData]="chatBoxData" [ngStyle]="{'display': !chatBoxData?.chatBox ? 'none': ''}"></app-chat-box>
