:host {
  display: flex;
  height: 100vh;
}

.main-actions {
  min-width: 290px;
  flex: 1;
}

app-chat-box {
  flex: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@media (min-width: 620px) {
  app-chat-box {
    position: relative;
    display: block !important;
  }
}
