<app-search-bar *ngIf="currentTab === 'search'" (searchTerm)="handleSearch($event)"></app-search-bar>
<ul class="contact-list">
  <li class="contact" (click)="openChat(bot, true); clicked = bot._id; bot.lastMessage.unread = false" [ngClass]="{active: bot._id === clicked, unread: bot?.lastMessage?.unread}">
    <div class="contact__avatar-container">
      <span class="contact__active-status"></span>
      <img class="contact__avatar" [src]="bot?.picture || 'http://via.placeholder.com/50x50'" />
    </div>
    <div class="contact__details">
      <h3 class="contact__name">{{bot?.name}}</h3>
      <p class="contact__about" *ngIf="currentTab !== 'messages'">
        {{bot?.about}}
      </p>
      <p class="contact__last-message" *ngIf="currentTab === 'messages'">
        {{bot?.lastMessage?.message}}
      </p>
      <span *ngIf="bot?.lastMessage?.unread" class="contact__unread-message"><i class="material-icons">priority_high</i></span>
      <time class="contact__message-time" *ngIf="currentTab === 'messages'">{{bot?.lastMessage?.time | date: 'shortTime'}}</time>
    </div>
  </li>
  <li class="contact" *ngFor="let contact of contactList | filterContacts:searchTerm" (click)="openChat(contact); clicked = contact._id; contact.lastMessage.unread = false"
    [ngClass]="{active: contact._id === clicked, unread: contact?.lastMessage?.unread}">
    <div class="contact__avatar-container">
      <span class="contact__active-status" [ngStyle]="{'background': !contact.isActive? 'red': ''}"></span>
      <img class="contact__avatar" [src]="contact.picture || 'http://via.placeholder.com/50x50'" />
    </div>
    <div class="contact__details">
      <h3 class="contact__name">{{contact?.name}}</h3>
      <p class="contact__about" *ngIf="currentTab !== 'messages'">
        {{contact?.about}}
      </p>
      <p class="contact__last-message" *ngIf="currentTab === 'messages'">
        {{contact?.lastMessage?.message}}
      </p>
      <span *ngIf="contact?.lastMessage?.unread" class="contact__unread-message"><i class="material-icons">priority_high</i></span>
      <time class="contact__message-time" *ngIf="currentTab === 'messages'">{{contact?.lastMessage?.time | date: 'shortTime'}}</time>
    </div>
  </li>
</ul>
