:host {
  display: block;
  height: calc(100vh - 51px);
  overflow-y: auto;
  border-right: 1px solid #e5e5e5;
}

.contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact {
  font-size: 0;
  margin: 0;
  position: relative;
  padding: 0 10px;
  cursor: pointer;
}

.contact.active {
  background: #efefef;
}

.contact:hover {
  background: #f7f7f7;
}

.contact__avatar-container,
.contact__details {
  display: inline-block;
  vertical-align: middle;
}

.contact__avatar {
  border-radius: 50%;
  width: 40px;
}

.contact__details {
  border-bottom: 1px solid #eee;
  width: calc(100% - 45px);
  font-size: 1rem;
  margin: 0 0 0px 5px;
  padding: 25px 0 25px 5px;
  position: relative;
}

.contact__active-status {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  background: #5dc3b5;
  border-radius: 50%;
}

.contact__name {
  font-size: 1rem;
  text-transform: uppercase;
}

.contact.active .contact__name {
  color: #5dc3b5;
  font-weight: 600;
}

.contact__about,
.contact__last-message {
  margin: 5px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #b3b3b3;
  font-size: 0.9rem;
}

.contact__message-time {
  font-size: 0.8rem;
  color: #a2a2a2;
  position: absolute;
  right: 0;
  top: 8px;
}

.contact__unread-message {
  background: #ff1414;
  color: #fff;
  font-size: 0.8rem;
  padding: 3px;
  position: absolute;
  right: 0px;
  top: 35px;
  height: 18px;
  border-radius: 2px;
}

.contact__unread-message i {
  font-size: inherit;
}

.contact.unread .contact__name {
  font-weight: bold;
}

.contact.unread .contact__last-message {
  color: #5dc3b5;
}
