/* You can add global styles to this file, and also import other style files */

@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  user-select: none;
}

@media (min-width: 480px) {
  body, html {
    font-size: 13px;
  }
}

@media (min-width: 720px) {
  body, html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  body, html {
    font-size: 15px;
  }
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 15px;
}
h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
h3 {
  font-size: 1.14rem;
  margin-bottom: 5px;
}
h4 {
  font-size: 1rem;
  margin-bottom: 5px;
}
h5 {
  font-size: 0.8rem;
  margin-bottom: 3px;
}
h6 {
  font-size: 0.7rem;
  margin-bottom: 2px;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}